<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <div style="width: 1920px; height: 1080px">
      <!-- 헤더 -->
      <%- include('./partials/nav') %>
      <div class="article" style="float: left">
        <div>
          <span style="font-size: 22px"> match with reverse! </span>
          <br />
          <br />
          <h1 style="font-size: 55px; font-weight: 900">
            <span style="font-weight: 500"> 나와</span> 반대되는 사람<span style="font-weight: 500"
              >을<br />
              만나보세요!</span
            >
          </h1>
        </div>
        <br />
        <br />
        <br />
        <div>
          <a href="/matching"><img src="image/meet_btn.png" width="270px;" /> </a>
        </div>
      </div>

      <div class="mimoj">
        <img id="mimoj" src="image/mimoj.png" width="600px;" style="margin-left: 100px; margin-top: 60px" />
      </div>
    </div>
  </body>
</html>
